@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/anton/v27/1Ptgg87LROyAm0K0.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoflex/v30/NaNnepOXO_NexZs0b5QrzlOHb8wCikXpYqmZsWI-__OGbt8jZktqc2V3Zs0KvDLdBP8SBZtOs2IifRuUZQMsPJtUsR4DEK6cULNeUx9XgTnH37Ha_FIAp4Fm0PP1hw45DntW2x0wZGzhPmr1YNMYKYn9_1IQXGwJAiUJVUMdN5YUW4O8HtSoXjC1z3QSabshNFVe3e0O5j3ZjrZCu23Qd4G0EBysQNK-QKavMl1cKq3tHXtXi8mzLjaAQbE.ttf) format('truetype');
}
* {
  font-family: "Roboto Flex", sans-serif;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
.anton,
.loader span,
h1 span {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: #dedede;
}
p {
  font-size: 17px;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  color: #dedede;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transform: scale(1);
  transition: all 0.4s ease-out;
}
.loader.zoom-out {
  opacity: 0;
}
.loader span {
  font-size: 200px;
  margin: 0 3px;
  opacity: 0;
  transform: translateY(70px);
  animation: fadeInUp 0.2s ease-out forwards;
}
.loader span:nth-child(1) {
  animation-delay: 0s;
}
.loader span:nth-child(2) {
  animation-delay: 0.1s;
}
.loader span:nth-child(3) {
  animation-delay: 0.2s;
}
.loader span:nth-child(4) {
  animation-delay: 0.3s;
}
.loader span:nth-child(5) {
  animation-delay: 0.4s;
}
.loader span:nth-child(6) {
  animation-delay: 0.5s;
}
.loader span:nth-child(7) {
  animation-delay: 0.6s;
}
.loader span:nth-child(8) {
  animation-delay: 0.7s;
}
.loader span:nth-child(9) {
  animation-delay: 0.8s;
}
.loader span:nth-child(10) {
  animation-delay: 0.9s;
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.navbar {
  display: none;
}
.banner-section {
  background-color: #212121;
  color: #fff;
}
.banner-section .banner-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  align-items: center;
  padding: 100px 0;
}
.banner-section .banner-main .banner-left {
  width: calc(100% - 300px);
  max-width: 500px;
}
.banner-section .banner-main .banner-left h1 {
  font-size: 80px;
  text-transform: uppercase;
  line-height: 1;
  color: #dedede;
  margin-bottom: 20px;
}
.banner-section .banner-main .banner-left h1 span {
  display: block;
  position: relative;
  left: -15px;
  color: #ff8f00;
}
.banner-section .banner-main .banner-left p.desc {
  line-height: 1.7;
}
.banner-section .banner-main .banner-left p.desc span {
  font-weight: 500;
  color: #fff;
}
.banner-section .banner-main .banner-right {
  width: 350px;
}
.banner-section .banner-main .banner-right .banner-card {
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 10px 20px 50px rgba(255, 143, 0, 0.11);
  transition: 0.3s;
}
.banner-section .banner-main .banner-right .banner-card img {
  max-width: 100%;
  width: 100% ;
  height: 100%;
  object-fit: cover;
  object-position: top;
  display: block;
}
