@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');

* {
  font-family: "Roboto Flex", sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.anton,
.loader span,
h1 span {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: rgb(222 222 222);
}

p {
  font-size: 17px;
  line-height: 1.7;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  background-color: #212121;
}

// loader section start
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  color: rgb(222 222 222);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transform: scale(1);
  transition: all 0.4s ease-out;

  &.zoom-out {
    opacity: 0;
  }

  span {
    font-size: 200px;
    margin: 0 3px;
    opacity: 0;
    transform: translateY(70px);
    animation: fadeInUp 0.2s ease-out forwards;

    &:nth-child(1) {
      animation-delay: 0s;
    }

    &:nth-child(2) {
      animation-delay: 0.1s;
    }

    &:nth-child(3) {
      animation-delay: 0.2s;
    }

    &:nth-child(4) {
      animation-delay: 0.3s;
    }

    &:nth-child(5) {
      animation-delay: 0.4s;
    }

    &:nth-child(6) {
      animation-delay: 0.5s;
    }

    &:nth-child(7) {
      animation-delay: 0.6s;
    }

    &:nth-child(8) {
      animation-delay: 0.7s;
    }

    &:nth-child(9) {
      animation-delay: 0.8s;
    }

    &:nth-child(10) {
      animation-delay: 0.9s;
    }
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// loader section end

// nav section start
.navbar {
  display: none;
}

// nav section end

// banner section start
.banner-section {
  color: #fff;

  .banner-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
    align-items: center;
    padding: 100px 0;

    .banner-left {
      width: calc(100% - 300px);
      max-width: 500px;

      h1 {
        font-size: 80px;
        text-transform: uppercase;
        line-height: 1;
        color: rgb(222 222 222);
        margin-bottom: 20px;

        span {
          display: block;
          position: relative;
          left: -15px;
          color: #ff8f00;
        }
      }

      p.desc {
        line-height: 1.7;

        span {
          font-weight: 500;
          color: #fff;
        }
      }
    }

    .banner-right {
      width: 350px;

      .atropos-inner {
        border-radius: 20px;
      }

      .atropos-highlight {
        opacity: 0.2 !important;
      }

      .atropos-shadow {
        background: rgba(0, 0, 0, 0.04);
      }

      .banner-card {
        overflow: hidden;
        border-radius: 20px;
        // box-shadow: 10px 20px 50px rgb(255 143 0 / 11%);
        transition: 0.3s;

        img {
          max-width: 100%;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;
          display: block;
          border-radius: 20px;
        }
      }

    }
  }
}

// banner section end

// about section start
.about-section {
  padding: 80px 0;

  .about-main {
    display: flex;
    flex-wrap: wrap;
  }

  .about-left {
    width: 600px;
    line-height: 1.2;
    padding-right: 30px;

    h2 {
      font-size: 46px;
    }

    span {
      color: #ff8f00;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 18px;
      font-weight: 6;
      display: block;
      margin-bottom: 5px;
    }
  }

  .about-right {
    width: calc(100% - 600px);

    p {
      margin-bottom: 30px;
    }

    a.about-btn {
      color: #ff8f00;
      transition: color 0.3s ease;
      font-size: 20px;
      text-transform: uppercase;
      text-decoration: none;
      position: relative;

      &:before {
        content: '';
        display: block;
        height: 2px;
        background-color: #ff8f00;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.3s ease;
      }

      &:hover {
        &:before {
          transform-origin: left;
          transform: scaleX(1);
        }
      }
    }
  }

}

// about section end

// skill section start
p.desc-title {
  color: #ff8f00;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 20px;
  font-weight: 6;
  display: block;
  margin-bottom: 5px;

  img {
    width: 24px;
    vertical-align: middle;
    margin-top: -4px;
    margin-right: 18px;
    display: inline-block;
    transform-origin: center;
    animation: slow-rotate 6s linear infinite;
  }

}

@keyframes slow-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.skill-section {
  padding: 80px 0;

  .skill-group {
    margin-top: 30px;
  }

  .skill-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;

    &:nth-child(2) {
      align-items: center;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .skill-tech {
    width: 500px;

    h2 {
      font-size: 50px;
      text-transform: uppercase;
      color: #b7b7b7;
    }
  }

  .skill-items {
    width: calc(100% - 500px);

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        font-size: 24px;
        position: relative;
        margin: 15px 45px 15px 0;
        color: rgb(222 222 222);
      }

      .skill-icon {
        width: 30px;
        height: 30px;
        object-fit: contain;
        display: inline-block;
        vertical-align: middle;
        margin-top: -1px;
        margin-right: 12px;
      }

    }
  }

}

// skill section end

// exp section start

.exp-section {
  padding: 80px 0;

  ul {
    list-style: none;
    padding: 0;
    margin: 30px 0 0;

    li {
      margin-bottom: 60px;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        font-size: 20px;
        margin-bottom: 10px;
      }

      h2 {
        font-size: 50px;
        margin-bottom: 10px;
        line-height: 1;
        margin-bottom: 19px;
      }

      span {
        font-size: 16px;
        margin-bottom: 10px;
        display: block;
        color: #dedede;
      }
    }
  }
}

// exp section end

// project section start
.project-section {

  // display: none;
  ul.project-cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 -15px;
    padding: 0;

    li {
      width: 33.333%;
      padding: 0px 15px;
      margin-bottom: 30px;

      a {
        display: block;
        position: relative;
        height: 500px;
        border-radius: 20px;
        overflow: hidden;
        text-decoration: none;

        &:hover {
          .visit-text {
            background: #ff8f00;
            // color: #fff;
          }

        }
      }

      .card-content {
        position: relative;
        z-index: 1;
        padding: 20px 25px;
        margin-top: 250px;
        background: #000000;
        height: 250px;

        p {
          line-height: 1.4;
          font-size: 15px;
        }

        h4 {
          font-size: 25px;
          margin-bottom: 10px;
          text-transform: uppercase;
        }

        .visit-text {
          color: #000;
          font-family: "Anton", sans-serif;
          font-size: 17px;
          background: #ebebeb;
          display: block;
          position: absolute;
          left: 25px;
          right: 25px;
          border-radius: 50px;
          text-align: center;
          bottom: 25px;
          padding: 6px 10px;
          letter-spacing: 1px;
          text-transform: uppercase;
          transition: 0.3s;


        }

        .tags {
          margin-top: 12px;

          span {
            background: rgba(255, 255, 255, 0.7);
            padding: 4px 10px;
            display: inline-block;
            font-size: 12px;
            border-radius: 50px;
            margin-right: 8px;
            color: #000;
          }
        }
      }

      .card-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        position: absolute;
        top: 0;
        background: #3e3e3e;
        background-size: cover;
        background-position: center top;
      }

      .img1 {
        background-image: url("./images/web/singgin.png");
      }

      .img2 {
        background-image: url("./images/web/harrogatespring.png");
      }

      .img3 {
        background-image: url("./images/web/adelphi.png");
      }

      .img4 {
        background-image: url("./images/web/zoho.png");
      }

      .img5 {
        background-image: url("./images/web/academy.png");
      }

      .img6 {
        background-image: url("./images/web/zohoinspire2023.png");
      }

      .img7 {
        background-image: url("./images/web/zoholicsjapan2022.png");
      }

      .img8 {
        background-image: url("./images/web/movie.png");
      }

      .img9 {
        background-image: url("./images/web/product-search.png");
      }

      .img10 {
        background-image: url("./images/web/cart.png");
      }


    }
  }
}

// project section end

// contact section start
.contact-section {
  text-align: center;
  padding: 80px 0;

  p {
    font-size: 22px;
    margin-bottom: 10px;
  }

  a.contact-email {
    text-align: center;
    color: #dedede;
    font-size: 36px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 30px;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      margin: 0 7px;
    }

    img {
      width: 30px;
    }
  }


}


// contact section end

// copyright section start
.copyright-section {
  background: #1e1e1e;
  padding: 12px 0;
  text-align: center;

  p {
    font-size: 14px;
  }
}

// copyright section end