@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/anton/v27/1Ptgg87LROyAm0K0.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoflex/v30/NaNnepOXO_NexZs0b5QrzlOHb8wCikXpYqmZsWI-__OGbt8jZktqc2V3Zs0KvDLdBP8SBZtOs2IifRuUZQMsPJtUsR4DEK6cULNeUx9XgTnH37Ha_FIAp4Fm0PP1hw45DntW2x0wZGzhPmr1YNMYKYn9_1IQXGwJAiUJVUMdN5YUW4O8HtSoXjC1z3QSabshNFVe3e0O5j3ZjrZCu23Qd4G0EBysQNK-QKavMl1cKq3tHXtXi8mzLjaAQbE.ttf) format('truetype');
}
* {
  font-family: "Roboto Flex", sans-serif;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
.anton,
.loader span,
h1 span {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: #dedede;
}
p {
  font-size: 17px;
  line-height: 1.7;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}
a {
  cursor: none;
}
body {
  background-color: #212121;
  cursor: none;
}
body #smooth-wrapper {
  transform: scale(1);
  transition: 1s;
}
.custom-cursor {
  position: fixed;
  width: 19px;
  height: 19px;
  background: #ff8f00;
  border-radius: 50%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 10000;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  box-shadow: 0 0 10px rgba(255, 143, 0, 0.3);
  transition: opacity 0.2s ease;
  border: 1px solid #b86700;
}
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.orange {
  color: #ff8f00;
}
.fixed-mail {
  color: #dedede;
  text-decoration: none;
  position: fixed;
  z-index: 9;
  left: 0;
  bottom: 220px;
  transform: rotate(90deg) translateY(85px);
  transition: 0.3s;
  opacity: 0.5;
}
.fixed-mail:hover {
  color: #ff8f00;
}
body.loading #smooth-wrapper {
  transform: scale(0.95);
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #212121;
  color: #dedede;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transform: scale(1);
  transition: all 0.4s ease-out;
  text-transform: uppercase;
}
.loader.zoom-out {
  opacity: 0;
}
.loader span {
  font-size: 200px;
  margin: 0 3px;
  opacity: 0;
  transform: translateY(70px);
  animation: fadeInUp 1s ease-out forwards;
}
.loader span:nth-child(1) {
  animation-delay: 0s;
}
.loader span:nth-child(2) {
  animation-delay: 0.1s;
}
.loader span:nth-child(3) {
  animation-delay: 0.2s;
}
.loader span:nth-child(4) {
  animation-delay: 0.3s;
}
.loader span:nth-child(5) {
  animation-delay: 0.4s;
}
.loader span:nth-child(6) {
  animation-delay: 0.5s;
}
.loader span:nth-child(7) {
  animation-delay: 0.6s;
}
.loader span:nth-child(8) {
  animation-delay: 0.7s;
}
.loader span:nth-child(9) {
  animation-delay: 0.8s;
}
.loader span:nth-child(10) {
  animation-delay: 0.9s;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(70px);
  }
  25% {
    opacity: 1;
    transform: translateY(0);
  }
  75% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-70px);
  }
}
.navbar {
  display: none;
}
.banner-section {
  color: #fff;
  position: relative;
}
.banner-section .banner-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  align-items: center;
  padding: 100px 0;
}
.banner-section .banner-main .banner-left {
  width: calc(100% - 300px);
  max-width: 500px;
}
.banner-section .banner-main .banner-left h1 {
  font-size: 80px;
  text-transform: uppercase;
  line-height: 1;
  color: #dedede;
  margin-bottom: 20px;
}
.banner-section .banner-main .banner-left h1 span {
  display: block;
  position: relative;
  left: -15px;
  color: #ff8f00;
}
.banner-section .banner-main .banner-left p.desc {
  line-height: 1.7;
}
.banner-section .banner-main .banner-left p.desc span {
  font-weight: 500;
  color: #ff8f00;
}
.banner-section .banner-main .banner-right {
  width: 350px;
}
.banner-section .banner-main .banner-right .atropos-inner {
  border-radius: 20px;
}
.banner-section .banner-main .banner-right .atropos-highlight {
  opacity: 0.2 !important;
}
.banner-section .banner-main .banner-right .atropos-shadow {
  background: rgba(0, 0, 0, 0.04);
  opacity: 0 !important;
}
.banner-section .banner-main .banner-right .banner-card {
  overflow: hidden;
  border-radius: 20px;
  transition: 0.3s;
}
.banner-section .banner-main .banner-right .banner-card img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  display: block;
  border-radius: 20px;
}
.about-section {
  padding: 80px 0;
}
.about-section .about-main {
  display: flex;
  flex-wrap: wrap;
}
.about-section .about-left {
  width: 600px;
  line-height: 1.2;
  padding-right: 30px;
}
.about-section .about-left h2 {
  font-size: 46px;
}
.about-section .about-left span {
  color: #ff8f00;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 18px;
  font-weight: 6;
  display: block;
  margin-bottom: 5px;
}
.about-section .about-right {
  width: calc(100% - 600px);
}
.about-section .about-right p {
  margin-bottom: 30px;
}
.about-section .about-right a.about-btn {
  color: #ff8f00;
  transition: color 0.3s ease;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}
.about-section .about-right a.about-btn:before {
  content: '';
  display: block;
  height: 2px;
  background-color: #ff8f00;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.about-section .about-right a.about-btn:hover:before {
  transform-origin: left;
  transform: scaleX(1);
}
p.desc-title {
  color: #ff8f00;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 20px;
  font-weight: 6;
  display: block;
  margin-bottom: 5px;
}
p.desc-title img {
  width: 24px;
  vertical-align: middle;
  margin-top: -4px;
  margin-right: 18px;
  display: inline-block;
  transform-origin: center;
  animation: slow-rotate 6s linear infinite;
}
@keyframes slow-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.skill-section {
  padding: 80px 0;
}
.skill-section .skill-group {
  margin-top: 30px;
}
.skill-section .skill-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 45px;
}
.skill-section .skill-row:nth-child(2) {
  align-items: center;
}
.skill-section .skill-row:last-child {
  margin-bottom: 0;
}
.skill-section .skill-tech {
  width: 500px;
}
.skill-section .skill-tech h2 {
  font-size: 50px;
  text-transform: uppercase;
  color: #b7b7b7;
}
.skill-section .skill-items {
  width: calc(100% - 500px);
}
.skill-section .skill-items ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.skill-section .skill-items ul li {
  display: inline-block;
  font-size: 24px;
  position: relative;
  margin: 15px 45px 15px 0;
  color: #dedede;
}
.skill-section .skill-items ul .skill-icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
  display: inline-block;
  vertical-align: middle;
  margin-top: -1px;
  margin-right: 12px;
}
.exp-section {
  padding: 80px 0;
}
.exp-section ul {
  list-style: none;
  padding: 0;
  margin: 30px 0 0;
}
.exp-section ul li {
  margin-bottom: 60px;
}
.exp-section ul li:last-child {
  margin-bottom: 0;
}
.exp-section ul li p {
  font-size: 20px;
  margin-bottom: 10px;
}
.exp-section ul li h2 {
  font-size: 50px;
  margin-bottom: 10px;
  line-height: 1;
  margin-bottom: 19px;
}
.exp-section ul li > span {
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
  color: #dedede;
}
.project-section {
  padding: 80px 0;
  margin-bottom: 90px;
}
.projects-wrapper {
  margin-top: 30px;
}
.projects-wrapper .projects-list:hover .project-item {
  opacity: 0.5;
}
.projects-wrapper .projects-category {
  margin-bottom: 50px;
}
.projects-wrapper .projects-category:last-child {
  margin-bottom: 0;
}
.projects-wrapper .projects-category h3 {
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}
.projects-wrapper .projects-category .project-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.projects-wrapper .projects-category .project-list .project-item {
  cursor: pointer;
  position: relative;
  padding-top: 25px;
  padding-bottom: 23px;
  border-bottom: 1px solid #4a4a4a;
  max-width: 1180px;
  transition: 0.2s;
}
.projects-wrapper .projects-category .project-list .project-item:hover {
  opacity: 1 !important;
}
.projects-wrapper .projects-category .project-list .project-item:hover a .number {
  color: #ff8f00;
}
.projects-wrapper .projects-category .project-list .project-item:hover a .overlay .overlay-text {
  width: 100%;
}
.projects-wrapper .projects-category .project-list .project-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.projects-wrapper .projects-category .project-list .project-item .project-item-image {
  display: none;
}
.projects-wrapper .projects-category .project-list .project-item a {
  text-decoration: none;
  color: #dedede;
  font-size: 40px;
  display: inline-block;
  transition: all 0.3s ease;
  font-weight: 500;
  font-family: "Anton", sans-serif;
  line-height: 1.2;
}
.projects-wrapper .projects-category .project-list .project-item a:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.projects-wrapper .projects-category .project-list .project-item a span.number {
  font-size: 14px;
  margin-right: 10px;
  vertical-align: top;
  font-family: "Anton", sans-serif;
  position: relative;
}
.projects-wrapper .projects-category .project-list .project-item a span.overlay {
  font-family: "Anton", sans-serif;
  position: relative;
}
.projects-wrapper .projects-category .project-list .project-item a span.overlay.fix-overlay {
  padding-left: 0;
}
.projects-wrapper .projects-category .project-list .project-item a span.overlay .overlay-text {
  display: block;
  position: absolute;
  top: 6px;
  left: 0;
  width: 0;
  white-space: nowrap;
  color: #ff8f00;
  overflow: hidden;
  transition: 0.3s;
  font-family: "Anton", sans-serif;
}
.projects-wrapper .projects-category .project-list .project-item .tags {
  margin-top: 13px;
  padding-left: 36px;
}
.projects-wrapper .projects-category .project-list .project-item .tags span {
  display: inline-block;
  color: #dedede;
  font-size: 13px;
  position: relative;
  padding-right: 20px;
}
.projects-wrapper .projects-category .project-list .project-item .tags span:last-child:before {
  display: none;
}
.projects-wrapper .projects-category .project-list .project-item .tags span:before {
  content: '';
  display: block;
  height: 7px;
  width: 7px;
  background: #404040;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  right: 5px;
}
.projects-image-box {
  position: fixed;
  left: 40px;
  top: 80px;
  width: 350px;
  height: 420px;
  background: #1a1a1a;
  border: 1px solid #333;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.05s, 0.3s opacity;
  z-index: 10;
  transform: translateY(-30%);
  left: 60%;
}
.projects-image-box .project-preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.projects-image-box .project-preview-image.active {
  opacity: 1;
}
.contact-section {
  text-align: center;
  padding: 80px 0;
}
.contact-section p {
  font-size: 22px;
  margin-bottom: 10px;
}
.contact-section a.contact-email {
  text-align: center;
  color: #dedede;
  font-size: 36px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 30px;
  transition: 0.3s;
  position: relative;
}
.contact-section a.contact-email:before {
  content: '';
  display: block;
  height: 2px;
  background-color: #ff8f00;
  left: 0;
  right: 0;
  bottom: 2px;
  position: absolute;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.contact-section a.contact-email:hover {
  color: #ff8f00;
}
.contact-section a.contact-email:hover:before {
  transform-origin: left;
  transform: scaleX(1);
}
.contact-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.contact-section ul li {
  display: inline-block;
  margin: 0 7px;
}
.contact-section ul img {
  width: 30px;
}
.copyright-section {
  background: #1e1e1e;
  padding: 12px 0;
  text-align: center;
}
.copyright-section p {
  font-size: 14px;
}
.anim {
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
  transform: translateY(100px);
}
.anim.anim-1s {
  transition: 0.1s ease;
}
.anim.anim-2s {
  transition: 0.2s ease;
}
.anim.anim-3s {
  transition: 0.3s ease;
}
.anim.anim-4s {
  transition: 0.4s ease;
}
.anim.anim-5s {
  transition: 0.5s ease;
}
.anim.anim-6s {
  transition: 0.6s ease;
}
.anim.anim-7s {
  transition: 0.7s ease;
}
.anim.anim-8s {
  transition: 0.8s ease;
}
.anim.anim-9s {
  transition: 0.9s ease;
}
.anim.anim-10s {
  transition: 1s ease;
}
.anim.anim-11s {
  transition: 1.1s ease;
}
.anim.anim-12s {
  transition: 1.2s ease;
}
.anim.anim-13s {
  transition: 1.3s ease;
}
.anim.anim-14s {
  transition: 1.4s ease;
}
.anim.anim-15s {
  transition: 1.5s ease;
}
.anim.anim-16s {
  transition: 1.6s ease;
}
.anim.anim-17s {
  transition: 1.7s ease;
}
.anim.anim-18s {
  transition: 1.8s ease;
}
.anim.anim-19s {
  transition: 1.9s ease;
}
.anim.anim-20s {
  transition: 2s ease;
}
.anim.anim-21s {
  transition: 2.1s ease;
}
.anim.anim-22s {
  transition: 2.2s ease;
}
.anim.anim-23s {
  transition: 2.3s ease;
}
.anim.anim-24s {
  transition: 2.4s ease;
}
.anim.anim-25s {
  transition: 2.5s ease;
}
.anim.anim-26s {
  transition: 2.6s ease;
}
.anim.anim-27s {
  transition: 2.7s ease;
}
.anim.anim-28s {
  transition: 2.8s ease;
}
.anim.anim-29s {
  transition: 2.9s ease;
}
.anim.anim-30s {
  transition: 3s ease;
}
.anim.anim-1 {
  transition-delay: 0s;
}
.anim.anim-2 {
  transition-delay: 0.2s;
}
.anim.anim-3 {
  transition-delay: 0.4s;
}
.anim.anim-4 {
  transition-delay: 0.6s;
}
.anim.anim-5 {
  transition-delay: 0.8s;
}
.anim.anim-6 {
  transition-delay: 1s;
}
.anim.anim-7 {
  transition-delay: 1.2s;
}
.anim.anim-8 {
  transition-delay: 1.4s;
}
.anim.anim-9 {
  transition-delay: 1.6s;
}
.anim.anim-10 {
  transition-delay: 1.8s;
}
.anim.animated {
  opacity: 1;
  transform: translateY(0);
}
.anim.anim-right {
  transform: translateX(-65px);
}
.anim.anim-right.animated {
  opacity: 1;
  transform: translateX(0);
}
.anim.anim-left {
  transform: translateX(65px);
}
.anim.anim-left.animated {
  opacity: 1;
  transform: translateX(0);
}
.anim.anim-zoomin {
  transform: scale(0.9);
  transform-origin: center;
}
.anim.anim-zoomin.animated {
  opacity: 1;
  transform: scale(1);
}
.anim.anim-zoomout {
  transform: translateY(100px) scale(1.05);
  transform-origin: center;
}
.anim.anim-zoomout.animated {
  opacity: 1;
  transform: scale(1);
}
