@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/anton/v27/1Ptgg87LROyAm0K0.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoflex/v30/NaNnepOXO_NexZs0b5QrzlOHb8wCikXpYqmZsWI-__OGbt8jZktqc2V3Zs0KvDLdBP8SBZtOs2IifRuUZQMsPJtUsR4DEK6cULNeUx9XgTnH37Ha_FIAp4Fm0PP1hw45DntW2x0wZGzhPmr1YNMYKYn9_1IQXGwJAiUJVUMdN5YUW4O8HtSoXjC1z3QSabshNFVe3e0O5j3ZjrZCu23Qd4G0EBysQNK-QKavMl1cKq3tHXtXi8mzLjaAQbE.ttf) format('truetype');
}
* {
  font-family: "Roboto Flex", sans-serif;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
.anton,
.loader span,
h1 span {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: #dedede;
}
p {
  font-size: 17px;
  line-height: 1.7;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}
body {
  background-color: #212121;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  color: #dedede;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transform: scale(1);
  transition: all 0.4s ease-out;
}
.loader.zoom-out {
  opacity: 0;
}
.loader span {
  font-size: 200px;
  margin: 0 3px;
  opacity: 0;
  transform: translateY(70px);
  animation: fadeInUp 0.2s ease-out forwards;
}
.loader span:nth-child(1) {
  animation-delay: 0s;
}
.loader span:nth-child(2) {
  animation-delay: 0.1s;
}
.loader span:nth-child(3) {
  animation-delay: 0.2s;
}
.loader span:nth-child(4) {
  animation-delay: 0.3s;
}
.loader span:nth-child(5) {
  animation-delay: 0.4s;
}
.loader span:nth-child(6) {
  animation-delay: 0.5s;
}
.loader span:nth-child(7) {
  animation-delay: 0.6s;
}
.loader span:nth-child(8) {
  animation-delay: 0.7s;
}
.loader span:nth-child(9) {
  animation-delay: 0.8s;
}
.loader span:nth-child(10) {
  animation-delay: 0.9s;
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.navbar {
  display: none;
}
.banner-section {
  color: #fff;
}
.banner-section .banner-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  align-items: center;
  padding: 100px 0;
}
.banner-section .banner-main .banner-left {
  width: calc(100% - 300px);
  max-width: 500px;
}
.banner-section .banner-main .banner-left h1 {
  font-size: 80px;
  text-transform: uppercase;
  line-height: 1;
  color: #dedede;
  margin-bottom: 20px;
}
.banner-section .banner-main .banner-left h1 span {
  display: block;
  position: relative;
  left: -15px;
  color: #ff8f00;
}
.banner-section .banner-main .banner-left p.desc {
  line-height: 1.7;
}
.banner-section .banner-main .banner-left p.desc span {
  font-weight: 500;
  color: #fff;
}
.banner-section .banner-main .banner-right {
  width: 350px;
}
.banner-section .banner-main .banner-right .atropos-inner {
  border-radius: 20px;
}
.banner-section .banner-main .banner-right .atropos-highlight {
  opacity: 0.2 !important;
}
.banner-section .banner-main .banner-right .atropos-shadow {
  background: rgba(0, 0, 0, 0.04);
}
.banner-section .banner-main .banner-right .banner-card {
  overflow: hidden;
  border-radius: 20px;
  transition: 0.3s;
}
.banner-section .banner-main .banner-right .banner-card img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  display: block;
  border-radius: 20px;
}
.about-section {
  padding: 80px 0;
}
.about-section .about-main {
  display: flex;
  flex-wrap: wrap;
}
.about-section .about-left {
  width: 600px;
  line-height: 1.2;
  padding-right: 30px;
}
.about-section .about-left h2 {
  font-size: 46px;
}
.about-section .about-left span {
  color: #ff8f00;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 18px;
  font-weight: 6;
  display: block;
  margin-bottom: 5px;
}
.about-section .about-right {
  width: calc(100% - 600px);
}
.about-section .about-right p {
  margin-bottom: 30px;
}
.about-section .about-right a.about-btn {
  color: #ff8f00;
  transition: color 0.3s ease;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}
.about-section .about-right a.about-btn:before {
  content: '';
  display: block;
  height: 2px;
  background-color: #ff8f00;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.about-section .about-right a.about-btn:hover:before {
  transform-origin: left;
  transform: scaleX(1);
}
p.desc-title {
  color: #ff8f00;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 20px;
  font-weight: 6;
  display: block;
  margin-bottom: 5px;
}
p.desc-title img {
  width: 24px;
  vertical-align: middle;
  margin-top: -4px;
  margin-right: 18px;
  display: inline-block;
  transform-origin: center;
  animation: slow-rotate 6s linear infinite;
}
@keyframes slow-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.skill-section {
  padding: 80px 0;
}
.skill-section .skill-group {
  margin-top: 30px;
}
.skill-section .skill-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 45px;
}
.skill-section .skill-row:nth-child(2) {
  align-items: center;
}
.skill-section .skill-row:last-child {
  margin-bottom: 0;
}
.skill-section .skill-tech {
  width: 500px;
}
.skill-section .skill-tech h2 {
  font-size: 50px;
  text-transform: uppercase;
  color: #b7b7b7;
}
.skill-section .skill-items {
  width: calc(100% - 500px);
}
.skill-section .skill-items ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.skill-section .skill-items ul li {
  display: inline-block;
  font-size: 24px;
  position: relative;
  margin: 15px 45px 15px 0;
  color: #dedede;
}
.skill-section .skill-items ul .skill-icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
  display: inline-block;
  vertical-align: middle;
  margin-top: -1px;
  margin-right: 12px;
}
.exp-section {
  padding: 80px 0;
}
.exp-section ul {
  list-style: none;
  padding: 0;
  margin: 30px 0 0;
}
.exp-section ul li {
  margin-bottom: 60px;
}
.exp-section ul li:last-child {
  margin-bottom: 0;
}
.exp-section ul li p {
  font-size: 20px;
  margin-bottom: 10px;
}
.exp-section ul li h2 {
  font-size: 50px;
  margin-bottom: 10px;
  line-height: 1;
  margin-bottom: 19px;
}
.exp-section ul li span {
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
  color: #dedede;
}
.project-section {
  display: none;
}
.contact-section {
  text-align: center;
  padding: 80px 0;
}
.contact-section p {
  font-size: 22px;
  margin-bottom: 10px;
}
.contact-section a.contact-email {
  text-align: center;
  color: #dedede;
  font-size: 36px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 30px;
}
.contact-section a.contact-email:hover {
  text-decoration: underline;
}
.contact-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.contact-section ul li {
  display: inline-block;
  margin: 0 7px;
}
.contact-section ul img {
  width: 30px;
}
.copyright-section {
  background: #1e1e1e;
  padding: 12px 0;
  text-align: center;
}
.copyright-section p {
  font-size: 14px;
}
